# Understanding Pandas Series and DataFrames - Lab

# Introduction

In this lab, let's get some hands on practice working with data cleanup using Pandas.

## Objectives
You will be able to:

* Manipulate columns in DataFrames (df.rename, df.drop)
* Manipulate the index in DataFrames (df.reindex, df.drop, df.rename)
* Manipulate column datatypes

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('turnstile_180901.txt')
print(len(df))
df.head()

197625

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384

# Practice

## Objectives
You will be able to:
* Understand and explain what Pandas Series and DataFrames are and how they differ from dictionaries and lists
* Create Series & DataFrames from dictionaries and lists
* Manipulate columns in DataFrames (df.rename, df.drop)
* Manipulate the index in DataFrames (df.reindex, df.drop, df.rename)
* Manipulate column datatypes

# Rename all the columns to lower case

In [3]:
#Your code here
df = df.rename(columns=str.lower)
df.head()

,c/a,unit,scp,station,linename,division,date,time,desc,entries,exits
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384

# Change the Index to be the Line Names

In [4]:
#Your code here
df = df.set_index('linename')
df.head()

,c/a,unit,scp,station,division,date,time,desc,entries,exits
linename,,,,,,,,,,
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384

# Painstakingly change the index back

In [5]:
# Your code here
df = pd.read_csv('turnstile_180901.txt')
df = df.rename(columns=str.lower)
df.head()

,c/a,unit,scp,station,linename,division,date,time,desc,entries,exits
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384

## Create another column 'Num_Lines' that is a count of how many lines pass through a station. Then sort your dataframe by this column in descending order.

In [7]:
# Your code here  
df['Num_Lines'] = df.linename.map(lambda x: len(x))
df = df.sort_values(['Num_Lines'], ascending=0)
df.Num_Lines

132292    12
132255    12
132253    12
132414    12
132412    12
130953    12
132351    12
132323    12
132324    12
132325    12
132326    12
132327    12
132328    12
132329    12
132330    12
132331    12
132332    12
132333    12
132334    12
132335    12
132336    12
132337    12
132338    12
132339    12
132340    12
132341    12
132342    12
132343    12
132344    12
132254    12
          ..
182014     1
182013     1
182012     1
182011     1
182010     1
182009     1
181980     1
182008     1
182006     1
181984     1
181985     1
181986     1
182095     1
182200     1
182199     1
182198     1
182197     1
182204     1
182097     1
182096     1
181995     1
181987     1
181994     1
181993     1
181992     1
181991     1
181990     1
181989     1
181988     1
197624     1
Name: Num_Lines, Length: 197625, dtype: int64

## Write a function to clean a column name.

In [8]:
def clean(col_name):
    #Your code here; whatever you want to do to col_name. Hint: think back to str methods.
    cleaned = col_name.strip(' ')
    cleaned = cleaned.upper()
    return cleaned

In [9]:
#This is a list comprehension. It applies your clean function to every item in the list.
#We then reassign that to df.columns
#You shouldn't have to change anything here.
#Your function above should work appropriately here.
df.columns = [clean(col) for col in df.columns]

In [10]:
#Checking the output, we can see the results.
df.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES', 'EXITS', 'NUM_LINES'],
      dtype='object')

## Compare subway traffic by day of the week. Display this as a graph.

In [12]:
#Your code here
df['ENTRY_DIFF'] = df.groupby(['UNIT','SCP','STATION'])['ENTRIES'].diff()
df.loc[df['ENTRY_DIFF'] < 0, 'ENTRY_DIFF'] = 0

df['EXIT_DIFF'] = df.groupby(['UNIT','SCP','STATION'])['EXITS'].diff()
df.loc[df['EXIT_DIFF'] < 0, 'EXIT_DIFF'] = 0

df.DATE = pd.to_datetime(df.DATE, format='%m/%d/%Y')
df = df.set_index(df.DATE)
df = df.groupby(df.index).sum()
df.index = df.index.day_name()

plt.figure(figsize=(10,6))
plt.bar(df.index, df.ENTRY_DIFF, width=0.25, align='edge', label='Number of Entries')
plt.bar(df.index, df.EXIT_DIFF, width=-0.25, align='edge', label='Number of Exits')

plt.legend()
plt.title('Subway Traffic', fontsize=20)
plt.xlabel('Day of the Week', fontsize=14)
plt.ylabel('Number of People(Turnstile Count)', fontsize=14)
plt.show()

KeyError: 'UNIT'

## Is there more subway traffic on a weekend or a weekday?    Be specific in comparing magnitudes.

In [179]:
#Your code here

# Drop a couple of columns

In [180]:
# Your code here
# df = df.drop(['C/A','UNIT','SCP','STATION','LINENAME','DIVISION','TIME','DESC','NUM_LINES'], axis=1)